:root {
    --app-color: #25282a;
    --app-body-color: #1e2022;
    --border-color: #2f3235;
    --border-width: 0.0625rem;
    --bs-danger: #ed4c78;
    --bs-danger-rgb: 237, 76, 120;
    --bs-dark: #212529;
    --bs-dark-rgb: 19, 33, 68;
    --bs-info-rgb: 9, 165, 190;
    --bs-light: #f5f8fa;
    --bs-light-rgb: 249, 250, 252;
    --bs-muted: #6c757d;
    --bs-primary: #007bff;
    --bs-primary-rgb: 13, 110, 253;
    --bs-success-rgb: 0, 201, 167;
    --bs-table-accent-bg: transparent;
    --bs-warning: #ff9d00;
    --bs-warning-rgb: 245, 202, 153;
    --bs-white: #fff;
    --bs-white-rgb: 255, 255, 255;
    --soft-black: rgba(255, 255, 255, .075);
    --hover-bg: #e7eaf3;
    --grey-1: #677788;
    --light-black: #6d747b;
    --light-grey: #f5f7fa;
    --placeholder-color: #6c757d;
    --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .175);
    --shadow-sm: 0 0.375rem 0.75rem rgb(140 152 164 / 8%);
    --soft-success: rgba(0, 201, 167, .1);
    --soft-danger: rgba(237, 76, 120, .1);
    --soft-dark: rgba(19, 33, 68, .1);
    --soft-grey: rgba(211, 211, 211, .73);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--app-body-color);
}

.content {
    flex: 1 0 auto;
    min-height: 100%;
    overflow-y: auto;
    margin-bottom: 5rem;
}

.footer {
    flex-shrink: 0;
}


/* Borders */

.border {
    border: var(--border-width) solid var(--border-color) !important;
}

.border-bottom {
    border-bottom: var(--border-width) solid var(--border-color) !important;
}

.border-top {
    border-top: var(--border-width) solid var(--border-color) !important;
}

.border-start {
    border-left: var(--border-width) solid var(--border-color) !important;
}

.border-end {
    border-right: var(--border-width) solid var(--border-color) !important;
}


/* /.Borders */


/* Navbars */

.main-nav {
    background-color: var(--app-color);
}

.nav-list>.nav-item,
.nav-list>.nav-item>.nav-link {
    margin: 0;
    padding: 0;
}

.nav-list>.nav-item {
    list-style: none;
}

.nav-list>.nav-item>.nav-link {
    color: var(--bs-white);
}

.nav-list>.nav-item#main-nav-item {
    position: relative;
    background-color: var(--app-body-color);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: -1.5rem;
}

.nav-list>.nav-item#main-nav-item>.nav-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: var(--app-color);
    color: var(--bs-warning);
}

.nav-list>.nav-item#main-nav-item>.nav-link>i {
    margin: auto;
    font-size: 2rem;
}

.top-nav-list>li.nav-item:not(:last-child) {
    margin-right: .5rem;
}

.top-nav-list>li.nav-item>button.nav-link {
    background-color: transparent;
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 50%;
    position: relative;
    color: var(--bs-white);
}

.top-nav-list>li.nav-item>button.nav-link:hover,
.top-nav-list>li.nav-item>button.nav-link.active {
    background-color: var(--soft-black);
}


/* /. Navbars */


/* Dropdown-menu */

.dropdown-menu {
    min-width: 10rem;
    padding: 0.5rem 0.5rem;
    font-size: .875rem;
    color: var(--bs-muted);
    text-align: left;
    list-style: none;
    background-color: var(--app-color);
    border: none;
    border-radius: 0.75rem;
    box-shadow: var(--shadow-lg);
}

.dropdown:not(.dropup) .dropdown-menu {
    margin-top: .5rem !important;
}

.dropdown.dropup .dropdown-menu {
    margin-bottom: 1rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--soft-grey);
    background-color: var(--soft-black);
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid var(--border-color);
}

.dropdown-menu>li {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.dropdown-menu#searchDropdownMenu {
    margin-top: 0;
}

.dropdown-toggle:not(.dropdown-toggle-empty)::after {
    padding-left: 1.25rem;
    margin-left: auto;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item:not(:last-child) {
    margin-bottom: 0.25rem;
}

.daterangepicker .ranges li {
    font-weight: 500;
    font-size: 1rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    padding: .75rem;
    color: var(--bs-muted);
    width: 100%;
}

.dropdown-menu .dropdown-item {
    font-size: .8125rem;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    color: var(--bs-muted);
    background-color: transparent;
    border-radius: 5rem;
}

.dropdown-item-icon {
    display: inline-block;
    opacity: .7;
    width: 1.5rem;
    color: var(--bs-muted);
}

.daterangepicker .ranges li:hover,
.daterangepicker .ranges li.active,
.dropdown-item.active:active:focus,
.dropdown-item.active:not(:focus):not(:active) {
    color: var(--app-color) !important;
    background-color: var(--hover-bg) !important;
    border-radius: 5rem;
    box-shadow: var(--shadow-sm);
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-toggle:not(.dropdown-toggle-empty)::after {
    padding-left: 1.25rem;
    margin-left: auto;
}

.dropdown-header {
    text-transform: uppercase;
    letter-spacing: .03125rem;
    font-size: .65625rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: var(--bs-muted);
}

.menu-list {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.top-nav .dropdown-menu[aria-labelledby='accountNavbarDropdown'] {
    width: 16rem;
}


/* /.Dropdown-menu */


/* Badges */

.badge {
    padding: 0.4em 0.65em;
}


/* /.Badges */


/* Utility Classes */

.bg-warning {
    background-color: var(--bs-warning) !important;
}

.top-15 {
    top: 15% !important;
}


/* /. Utility Classes */


/* Typography */

.small-xs {
    font-size: .65em;
}


/* Typography */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}

.h1,
h1 {
    font-size: 1.41094rem;
}

.h3,
h3 {
    font-size: 1.14844rem;
}

.h4,
h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: .875rem;
}

.display-4 {
    font-weight: bolder;
}


/* /.Typography */


/* Media Queries */


/* Small devices (landscape phones, 576px and down) */

@media (max-width: 576px) {
    .top-nav {
        height: 50px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .top-nav {
        height: 45px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    /* Style */
}


/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* Style */
}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
    /* Style */
}


/* /.Media Queries */