:root {
    --app-color: #25282a;
    --app-body-color: #1e2022;
    --border-color: #2f3235;
    --border-width: 0.0625rem;
    --bs-danger: #ed4c78;
    --bs-danger-rgb: 237, 76, 120;
    --bs-dark: #212529;
    --bs-dark-rgb: 19, 33, 68;
    --bs-info-rgb: 9, 165, 190;
    --bs-light: #f5f8fa;
    --bs-light-rgb: 249, 250, 252;
    --bs-muted: #6c757d;
    --bs-primary: #007bff;
    --bs-primary-rgb: 13, 110, 253;
    --bs-success-rgb: 0, 201, 167;
    --bs-table-accent-bg: transparent;
    --bs-warning: #ff9d00;
    --bs-warning-rgb: 245, 202, 153;
    --bs-white: #fff;
    --bs-white-rgb: 255, 255, 255;
    --soft-black: rgba(255, 255, 255, .075);
    --hover-bg: #e7eaf3;
    --grey-1: #677788;
    --light-black: #6d747b;
    --light-grey: #f5f7fa;
    --placeholder-color: #6c757d;
    --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .175);
    --shadow-sm: 0 0.375rem 0.75rem rgb(140 152 164 / 8%);
    --soft-success: rgba(0, 201, 167, .1);
    --soft-danger: rgba(237, 76, 120, .1);
    --soft-dark: rgba(19, 33, 68, .1);
    --soft-grey: rgba(211, 211, 211, .73);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--app-body-color);
}

.content {
    flex: 1 0 auto;
    min-height: 100%;
    overflow-y: auto;
    margin-bottom: 5rem;
}

.footer {
    flex-shrink: 0;
}


/* Animations */

.blink {
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}


/* /.Animations */


/* Avatar Image */

.avatar,
.avatar-circle,
.avatar:not(img),
.avatar-img {
    position: relative;
    border-radius: 50%;
}

.avatar {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 35px;
    height: 35px;
}

.avatar-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.avatar-sm {
    height: 30px;
    width: 30px;
}

.avatar>.avatar-initials {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 600;
    pointer-events: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--app-color);
    background-color: transparent
}

.avatar-xs .avatar-initials {
    font-size: .65625rem;
    width: 1.53125rem !important;
    height: 1.53125rem !important;
}

.avatar-xs .avatar-initials {
    margin: 0 !important;
}

.avatar-xss,
.avatar-xss .avatar-initials {
    width: 1rem;
    height: 1rem;
}

.avatar:not(img) {
    background-color: var(--hover-bg);
}

.avatar-status {
    position: absolute;
    right: 0;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    vertical-align: baseline;
    border: 0.125rem solid var(--app-color);
    width: .82031rem;
    height: .82031rem;
    font-size: .4375rem;
    line-height: 1;
    border-radius: 50%;
}

.top-nav .avatar-status {
    bottom: -3px;
}

.avatar-sm.avatar-circle .avatar-status {
    bottom: -0.19141rem;
    right: -0.19141rem;
}

.avatar-status-success {
    color: var(--bs-white);
    background-color: var(--bs-success);
}

.update-alert {
    right: -.25rem;
    top: -.25rem;
    color: var(--bs-white);
    background-color: var(--soft-grey);
}


/* /.Avatar Image */


/* Borders */

.border {
    border: var(--border-width) solid var(--border-color) !important;
}

.border-bottom {
    border-bottom: var(--border-width) solid var(--border-color) !important;
}

.border-top {
    border-top: var(--border-width) solid var(--border-color) !important;
}

.border-start {
    border-left: var(--border-width) solid var(--border-color) !important;
}

.border-end {
    border-right: var(--border-width) solid var(--border-color) !important;
}


/* /.Borders */


/* Buttons */

.btn-soft-dark {
    color: var(--soft-grey);
    background-color: var(--soft-black);
    border-color: transparent;
}

.btn-soft-dark:hover {
    color: var(--bs-white);
}

.btn-xs:not(.btn-icon) {
    font-size: .65625rem;
    padding: 0.3125rem 0.75rem;
}


/* /.Buttons */


/* Navbars */

.main-nav {
    background-color: var(--app-color);
}

.nav-list>.nav-item,
.nav-list>.nav-item>.nav-link {
    margin: 0;
    padding: 0;
}

.nav-list>.nav-item {
    list-style: none;
}

.nav-list>.nav-item>.nav-link {
    color: var(--bs-white);
}

.nav-list>.nav-item#main-nav-item {
    position: relative;
    background-color: var(--app-body-color);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: -1.5rem;
}

.nav-list>.nav-item#main-nav-item>.nav-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: var(--border-width) solid var(--border-color);
    background-color: var(--app-color);
    color: var(--bs-warning);
}

.nav-list>.nav-item#main-nav-item>.nav-link>i {
    margin: auto;
    font-size: 2rem;
}

.top-nav-list>li.nav-item>button.nav-link {
    background-color: transparent;
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 50%;
    position: relative;
    color: var(--bs-white);
}

.top-nav-list>li.nav-item>button.nav-link:hover,
.top-nav-list>li.nav-item>button.nav-link.active {
    background-color: var(--soft-black);
}

.nav-link.active i {
    color: var(--bs-warning);
}

.nav-link.active .update-alert {
    background-color: var(--bs-warning);
}


/* /. Navbars */


/* Nav Scroller */

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav>a {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    border-bottom: 2px solid transparent;
}

.nav-scroller .nav>a.active {
    color: var(--bs-warning);
    border-bottom-color: var(--bs-warning);
}


/* /. Nav Scroller */


/* Dropdown-menu */

.dropdown-menu {
    min-width: 10rem;
    padding: 0.5rem 0.5rem;
    font-size: .875rem;
    color: var(--bs-muted);
    text-align: left;
    list-style: none;
    background-color: var(--app-color);
    border: none;
    border-radius: 0.75rem;
    box-shadow: var(--shadow-lg);
}

.dropdown:not(.dropup) .dropdown-menu {
    margin-top: .5rem !important;
}

.dropdown.dropup .dropdown-menu {
    margin-bottom: 1rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--soft-grey);
    background-color: var(--soft-black);
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid var(--border-color);
}

.dropdown-menu>li {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.dropdown-menu#searchDropdownMenu {
    margin-top: 0;
}

.dropdown-toggle:not(.dropdown-toggle-empty)::after {
    padding-left: 1.25rem;
    margin-left: auto;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item:not(:last-child) {
    margin-bottom: 0.25rem;
}

.daterangepicker .ranges li {
    font-weight: 500;
    font-size: 1rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    padding: .75rem;
    color: var(--bs-muted);
    width: 100%;
}

.dropdown-menu .dropdown-item {
    font-size: .8125rem;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    color: var(--bs-muted);
    background-color: transparent;
    border-radius: 5rem;
}

.dropdown-item-icon {
    display: inline-block;
    opacity: .7;
    width: 1.5rem;
    color: var(--bs-muted);
}

.daterangepicker .ranges li:hover,
.daterangepicker .ranges li.active,
.dropdown-item.active:active:focus,
.dropdown-item.active:not(:focus):not(:active) {
    color: var(--app-color) !important;
    background-color: var(--hover-bg) !important;
    border-radius: 5rem;
    box-shadow: var(--shadow-sm);
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-toggle:not(.dropdown-toggle-empty)::after {
    padding-left: 1.25rem;
    margin-left: auto;
}

.dropdown-header {
    text-transform: uppercase;
    letter-spacing: .03125rem;
    font-size: .65625rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: var(--bs-muted);
}

.menu-list {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.top-nav .dropdown-menu[aria-labelledby='accountNavbarDropdown'] {
    width: 16rem;
}


/* /.Dropdown-menu */


/* Badges */

.badge {
    padding: .2em .35em;
    font-size: .65em;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    border-radius: .3125rem;
}

nav .badge {
    border: 2px solid var(--app-color);
}


/* /.Badges */


/* Cards */

.card {
    position: relative;
    background-color: var(--app-color);
    border: var(--border-width) solid var(--border-color);
    border-radius: 1rem;
    box-shadow: var(--shadow-sm);
}

.card-hover-shadow {
    transition: .3s;
}

.card-hover-shadow:hover {
    box-shadow: 0 .1875rem .75rem rgba(140, 152, 164, .25)!important;
}

.card-header {
    padding: 1.3125rem 1.3125rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: var(--border-width) solid var(--border-color);
}

.card-header-content-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.card-header:first-child {
    border-radius: 0.6875rem 0.6875rem 0 0;
}

.card-header-title {
    margin-bottom: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.3125rem 1.3125rem;
}

.card-title:not(:last-child) {
    margin-bottom: 0.5rem;
}

.card-subtitle {
    display: block;
    text-transform: uppercase;
    color: var(--bs-muted);
    font-size: .71094rem;
    font-weight: bold;
    margin-top: -0.125rem;
    margin-bottom: 0.25rem;
}

.card-body-height {
    height: 21.25rem;
    overflow: hidden;
    overflow-y: auto;
}

.card-footer:last-child {
    border-radius: 0 0 0.6875rem 0.6875rem;
}

.card-footer {
    color: var(--app-color);
    font-weight: bold;
    padding: 1.3125rem 1.3125rem;
    background-color: transparent;
    border-top: var(--border-width) solid var(--border-color);
}

.card>.card-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
    color: var(--bs-warning);
}


/* /.Cards */


/* CSS Grid */

.d-grid,
.grid {
    display: grid;
}

.g-col-4 {
    grid-template-columns: repeat(3, 1fr);
}


/* /.CSS Grid */


/* List Group */

.navbar-card-list-group {
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.list-group-flush {
    border-radius: 0;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.5rem;
}

.list-group>.list-group-item {
    color: var(--soft-grey);
    background-color: transparent !important;
    border-color: var(--border-color);
}

.navbar-card-list-group .list-group-item {
    padding-top: .75rem;
    padding-bottom: 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.list-group-flush>.list-group-item {
    border-width: 0 0 var(--border-width);
}


/* /.List Group */


/* Form Control */

.form-control,
.form-control:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
    color: var(--soft-grey);
    background-color: var(--app-body-color);
}

.top-nav .form-control {
    border: none;
}


/* /. Form Control */


/* Icons */

.bi-2x {
    font-size: 1.2rem;
}

.bi-3x {
    font-size: 1.5rem;
}

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon.icon-xs {
    font-size: .65625rem;
    width: 1.53125rem;
    height: 1.53125rem;
}

.icon-soft-dark {
    color: var(--app-color);
    background: var(--hover-bg);
}

.icon-circle {
    border-radius: 50%;
}

.icon.icon-sm {
    font-size: .875rem;
    width: 2.40625rem;
    height: 2.40625rem;
}

.icon-soft-secondary {
    color: var(--bs-muted);
    background: var(--hover-bg);
}


/* /.Icons */


/* Scroll Bar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: var(--bs-warning) !important;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .05);
    border-radius: 6px;
    height: 10px !important;
}


/* /.Scroll Bar */


/* Search Form */

.navbar .form-wrapper {
    position: relative;
}

.navbar .form-wrapper .form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--soft-grey);
    margin: 0 1rem;
}

.navbar .form-wrapper .form-icon,
.navbar .form-wrapper .form-control {
    font-size: 1rem;
    z-index: 1;
}

.navbar .form-wrapper .form-control {
    padding: .375rem 2.8rem;
    border: none;
}

.navbar .nav-item:not(:last-child) {
    margin-right: 0.5rem;
}


/* /.Search Form */


/* Typography */

.small-xs {
    font-size: .65em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}

.h1,
h1 {
    font-size: 1.41094rem;
}

.h3,
h3 {
    font-size: 1.14844rem;
}

.h4,
h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: .875rem;
}

.display-4 {
    font-weight: bolder;
}


/* /.Typography */


/* Element Styling */

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--bs-warning);
}

.offcanvas-body .list-group,
.offcanvas-body .list-group-item,
.offcanvas-body .list-group-item:hover {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.offcanvas-body .list-group-item:hover {
    color: var(--soft-grey);
    background-color: var(--soft-black) !important;
}


/* /. Element Styling */


/* Utility Classes */

.bg-app-color {
    background-color: var(--app-color) !important;
}

.bg-warning {
    background-color: var(--bs-warning) !important;
}

.top-15 {
    top: 15% !important;
}

.flex-shrink-0 {
    flex-shrink: 0!important;
}

.flex-grow-1 {
    flex-grow: 1!important;
}

.rounded-4 {
    border-radius: 1rem !important;
}

.w-10 {
    width: 10% !important;
}

.w-80 {
    width: 80% !important;
}


/* /. Utility Classes */


/* Media Queries */


/* Small devices (landscape phones, 576px and down) */

@media (max-width: 576px) {
    .top-nav,
    .offcanvas-header {
        height: 66.5px;
    }
    .dropdown-menu[aria-labelledby='searchDropdownMenu'] {
        top: 3rem !important;
        display: none;
    }
    /* Off-canvas */
    .offcanvas.offcanvas-start {
        width: 80%;
    }
    /* Off-canvas */
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .top-nav,
    .offcanvas-header {
        height: 45px;
    }
    .content .g-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .top-nav .form-wrapper,
    .top-nav .form-wrapper .form-control,
    .top-nav .dropdown-menu[aria-labelledby='searchDropdownMenu'] {
        width: 21rem;
    }
}


/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* Style */
}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
    /* Style */
}


/* /.Media Queries */